html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    background-color: #333333;
    color: #cccccc;
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    text-align: center;
}

.thumb {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border: 5px solid white;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#lightbox .lightbox-inner {
    width: 80%;
    height: 80%;
    margin: 25px auto;
}

.lightbox-inner img {
    max-height: 100%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 50px;
    cursor: pointer;

}

.hide {
    display: none;
}