.team .member  {
    display: flex;
    flex-flow: row;
    margin-bottom: 3rem;
    align-items: center;

}

.team .member:nth-child(2n) {
    flex-flow: row-reverse;
}

.team .member:nth-child(2n) blockquote {
    text-align: right;
}

.team .member img {
    flex-basis: 40%;
    object-fit: contain;
}

.team .member blockquote {
    flex-basis: 60%;
}

.team .member blockquote small {
    display: block;
    margin-top: 1em;
    color: var(--grey)
}