html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

#top {
    position: relative;
    width: auto;
    height: 140px;
    background-color: blueviolet;
}
.container {
    position: relative;
    max-width: 1200px;
    height: 140px;
    margin: 0 auto;
    background-color: aqua;
}

.inner-wrapper {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 50px;
    left: 30px;
    width: 150px;
    height: auto;
}

#burger-nav {
    position: absolute;
    top: 48px;
    right: 30px;
    width: 50px;
    height: auto;
}

#menu {
    display: none;
}


.grid-gallery-01 {
    display: grid;
    grid-template-areas: "Bild1" "Bild2" "Bild3";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 60vw);
    row-gap: 20px;
    margin: 100px 0;
}

.grid-gallery-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-gallery-01 img:nth-child(1) {
    grid-area: Bild1;
}

.grid-gallery-01 img:nth-child(2) {
    grid-area: Bild2;
}

.grid-gallery-01 img:nth-child(3) {
    grid-area: Bild3;
}






.three-pics .item img {
    max-width: 100%;
    width: 100%;
    height: 65vw;
    object-fit: cover;
    object-position: center;
}

.three-pics .item {
    position: relative;
    margin-bottom: 1em;
}





#main-footer {
    background-color: burlywood;
    color: #ffffff;
    line-height: 1.5em;
    text-decoration: none;
}

#main-footer nav {
    text-align: right;
}

#main-footer nav ul{
    list-style: none;
}

#main-footer .inner-wrapper {
    display: flex;
    justify-content: space-between;
}




#end {
    background-color: crimson;
}



@media (max-width: 767px) {
    #main-footer nav {
        display: none;
    }
}


@media (min-width: 768px) {


    .grid-gallery-01 {
        grid-template-areas: "Bild1 Bild2 Bild3";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 500px);
        column-gap: 20px;
    }


    .three-pics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .three-pics .item {
        flex-basis: calc(30%);
    }

    .three-pics img {
        max-height: 500px;
    }


}