#main-footer {
    color: #ffffff;
    background-color: var(--brown);
}

#main-footer a {
    color: #ffffff;
    text-decoration: none;
    cursor: help;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    /* ? */
    transition: border-bottom 0.5s;
}

#main-footer a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    /* ? */
}

#main-footer address, #main-footer nav
/* Beistrich NUR bei gleichen Selektoren? */

    {
    padding: 30px 0;
    line-height: 1.5em;
    /*  = Durchschuss */
}

@media (max-width: 767px) {
    #main-footer nav {
        display: none;
    }
}

@media (min-width: 768px) {
    #main-footer nav {
        text-align: right;
    }
    #main-footer ul {
        list-style: none;
        padding-left: 0;
        /* ? */
        margin: 0;
        /* ? */
    }
    #main-footer .inner-wrapper
    /* Beistrich NUR bei gleichen Selektoren? */
        {
        display: flex;
        /* ? */
        justify-content: space-between;
    }
}